@mixin on-mobile {
  @media (width < 500px) {
    @content;
  }
}

html {
  font-family: Roboto, sans-serif;
  --default-backgroundColor: #fff;
  --default-textColor: #000;
}

.container,
.time,
.day,
.page,
.theme-switcher,
.theme-switcher::before,
.alarm-window {
  transition: all 0.2s linear;
}

.page {
  background-color: var(--default-backgroundColor);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  width: min-content;
  height: 100dvh;
}

.time {
  font-size: 128px;
  color: var(--default-textColor);

  @include on-mobile {
    font-size: 80px;
  }
  &::selection {
    color: inherit;
  }
}

.day {
  font-size: 32px;
  align-self: flex-end;
  color: var(--default-textColor);

  @include on-mobile {
    font-size: 24px;
  }
  &::selection {
    color: inherit;
  }
}

.theme {
  display: flex;
  justify-content: center;
  &-switcher {
    cursor: pointer;
    position: absolute;
    margin: 50px;
    width: 120px;
    height: 80px;
    border-radius: 40px;
    background-color: var(--default-textColor);
    &::before {
      content: "";
      display: block;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      border-radius: 100%;
      position: relative;
      height: 60px;
      width: 60px;
      background-color: var(--default-backgroundColor);
    }
  }
}

.alarm-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  padding-inline: 1em;
  background-color: var(--default-textColor);
  width: max-content;
  height: fit-content;
  line-height: 2em;

  &__text {
    color: var(--default-backgroundColor);
  }
}

.dark-theme {
  --default-backgroundColor: #000;
  --default-textColor: #fff;
  .theme-switcher::before {
    left: 50px;
    background-color: black;
  }
}

.invisible {
  opacity: 0;
  pointer-events: none;
}
